- name: ----- install pre-requisite  controll plane -----
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - glance
    - python3-glanceclient  
  tags: [ glance ]
  when: 
    - glance == "enabled"



- name:  -----Configure Keystone db connection -----
  lineinfile:
    path: /etc/glance/glance-api.conf
    regexp: '^connection\s*='
    line: "connection = mysql+pymysql://{{ glance_db_user }}:{{ glance_db_password }}@{{ glance_db_address }}/glance"
    state: present
  notify: glance_restart
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update auth_url with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*auth_url\s*='
    line: "auth_url = http://{{ controller_admin_address }}:35357"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update auth_type with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*auth_type\s*='
    line: "auth_type = password"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update project_domain_name with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*project_domain_name\s*='
    line: "project_domain_name = default"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update user_domain_name with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*user_domain_name\s*='
    line: "user_domain_name = default"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update project_name with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*project_name\s*='
    line: "project_name = service"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update username with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*username\s*='
    line: "username = {{ glance_db_user }}"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update password with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*auth_uri\s*='
    line: "password = {{ glance_db_password }}"
    insertafter: '^\[keystone_authtoken\]'
  when: glance == "enabled"
  tags: [ glance ]

- name: "Update flavor with lineinfile"
  lineinfile:
    path: "/etc/glance/glance-api.conf"
    regexp: '^#?\s*flavor\s*='
    line: "flavor = keystone"
    insertafter: '^\[paste_deploy\]'
  when: glance == "enabled"
  tags: [ glance ]


- name: Check if Glance DB has been synced before
  stat:
    path: /etc/glance/.ansible_db_synced
  register: check_marker
  tags: [ glance ]

# ۲. اجرای Sync فقط اگر فایل وجود نداشت
- name: "----- Sync Glance Database via Shell -----"
  shell: |
    su -s /bin/sh -c "glance-manage db_sync" glance
  register: sync_result
  become: yes
  when: 
    - glance == "enabled"
    - not check_marker.stat.exists
  notify: glance_restart
  tags: [ glance ]

# ۳. ایجاد فایل نشانگر با بررسی دقیق خروجی
- name: Create history marker (The State File)
  file:
    path: /etc/glance/.ansible_db_synced
    state: touch
    owner: glance
    group: glance
    mode: '0644'
  become: yes
  when: 
    - glance == "enabled"
    - sync_result is succeeded     # به جای .rc == 0 از succeeded استفاده کنید
    - sync_result is not skipped   # حتماً چک کنید که تسک قبلی Skip نشده باشد
  run_once: true
  tags: [ glance ]


