[DEFAULT]


#ovs_use_veth = false

interface_driver = openvswitch

#rpc_response_max_timeout = 600


#agent_mode = legacy

#metadata_port = 9697

#handle_internal_only_routers = true

#ipv6_gateway =

#prefix_delegation_driver = dibbler

#enable_metadata_proxy = true

#metadata_access_mark = 0x1

#external_ingress_mark = 0x2

#radvd_user =

#cleanup_on_shutdown = false

#periodic_interval = 40

#api_workers = <None>

#rpc_workers = <None>

#rpc_state_report_workers = 1

#periodic_fuzzy_delay = 5

#ha_confs_path = $state_path/ha_confs

#ha_vrrp_auth_type = PASS

#ha_vrrp_auth_password = <None>

#ha_vrrp_advert_int = 2

#
#ha_keepalived_state_change_server_threads = (1 + <num_of_cpus>) / 2

#ha_vrrp_health_check_interval = 0

#pd_confs = $state_path/pd

#vendor_pen = 8888

#ra_confs = $state_path/ra

#min_rtr_adv_interval = 30

#max_rtr_adv_interval = 100


#debug = false

#log_config_append = <None>

#log_date_format = %Y-%m-%d %H:%M:%S

#log_file = <None>

#log_dir = <None>

#watch_log_file = false

#use_syslog = false

#use_journal = false

#syslog_log_facility = LOG_USER

#use_json = false

#use_stderr = false

#use_eventlog = false

#log_rotate_interval = 1

#log_rotate_interval_type = days

#max_logfile_count = 30

#max_logfile_size_mb = 200

#log_rotation_type = none

#logging_context_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(global_request_id)s %(request_id)s %(user_identity)s] %(instance)s%(message)s

#logging_default_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(instance)s%(message)s

#logging_debug_format_suffix = %(funcName)s %(pathname)s:%(lineno)d

#logging_exception_prefix = %(asctime)s.%(msecs)03d %(process)d ERROR %(name)s %(instance)s

#logging_user_identity_format = %(user)s %(project)s %(domain)s %(system_scope)s %(user_domain)s %(project_domain)s

#default_log_levels = amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,oslo_messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN,websocket=WARN,requests.packages.urllib3.util.retry=WARN,urllib3.util.retry=WARN,keystonemiddleware=WARN,routes.middleware=WARN,stevedore=WARN,taskflow=WARN,keystoneauth=WARN,oslo.cache=INFO,oslo_policy=INFO,dogpile.core.dogpile=INFO

#publish_errors = false

#instance_format = "[instance: %(uuid)s] "

#instance_uuid_format = "[instance: %(uuid)s] "

#rate_limit_interval = 0

#rate_limit_burst = 0

#rate_limit_except_level = CRITICAL

#fatal_deprecations = false
[agent]


#availability_zone = nova


#report_interval = 30

#log_agent_heartbeats = false


#extensions =
[metadata_rate_limiting]


#rate_limit_enabled = false

#ip_versions = 4

#base_window_duration = 10

#base_query_rate_limit = 10

#burst_window_duration = 10

#burst_query_rate_limit = 10
[network_log]


#rate_limit = 100

#burst_limit = 25

#local_output_log_base = <None>
[ovs]


#ovsdb_connection = tcp:127.0.0.1:6640

#ssl_key_file = <None>

#ssl_cert_file = <None>

#ssl_ca_cert_file = <None>

#ovsdb_debug = false

#ovsdb_timeout = 10

#bridge_mac_table_size = 50000

#igmp_snooping_enable = false

#igmp_flood = false

#igmp_flood_reports = true

#igmp_flood_unregistered = false

