[DEFAULT]
type_drivers = flat,vlan,vxlan
tenant_network_types = vxlan
mechanism_drivers = openvswitch
extension_drivers = port_security
nova_metadata_host = {{ neutron_controller_address }}
metadata_proxy_shared_secret = METADATA_SECRET


#debug = false

#log_config_append = <None>

#log_date_format = %Y-%m-%d %H:%M:%S

#log_file = <None>

#log_dir = <None>

#watch_log_file = false

#use_syslog = false

#use_journal = false

#syslog_log_facility = LOG_USER

#use_json = false

#use_stderr = false

#use_eventlog = false

#log_rotate_interval = 1

#log_rotate_interval_type = days

#max_logfile_count = 30

#max_logfile_size_mb = 200

#log_rotation_type = none

#logging_context_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(global_request_id)s %(request_id)s %(user_identity)s] %(instance)s%(message)s

#logging_default_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(instance)s%(message)s

#logging_debug_format_suffix = %(funcName)s %(pathname)s:%(lineno)d

#logging_exception_prefix = %(asctime)s.%(msecs)03d %(process)d ERROR %(name)s %(instance)s

#logging_user_identity_format = %(user)s %(project)s %(domain)s %(system_scope)s %(user_domain)s %(project_domain)s

#default_log_levels = amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,oslo_messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN,websocket=WARN,requests.packages.urllib3.util.retry=WARN,urllib3.util.retry=WARN,keystonemiddleware=WARN,routes.middleware=WARN,stevedore=WARN,taskflow=WARN,keystoneauth=WARN,oslo.cache=INFO,oslo_policy=INFO,dogpile.core.dogpile=INFO

#publish_errors = false

#instance_format = "[instance: %(uuid)s] "

#instance_uuid_format = "[instance: %(uuid)s] "

#rate_limit_interval = 0

#rate_limit_burst = 0

#rate_limit_except_level = CRITICAL

#fatal_deprecations = false
[ml2]


type_drivers = flat,vlan,gre,vxlan,geneve

tenant_network_types = 

mechanism_drivers = openvswitch

#extension_drivers = port_security,qos

#path_mtu = 0

#physical_network_mtus =

#external_network_type = <None>

#overlay_ip_version = 4

#tunnelled_network_rp_name = rp_tunnelled
[ml2_type_flat]
flat_networks = provider


#flat_networks = *
[ml2_type_geneve]


#vni_ranges =

#max_header_size = 30
[ml2_type_gre]


#tunnel_id_ranges =
[ml2_type_vlan]


#network_vlan_ranges =
[ml2_type_vxlan]
vni_ranges = 1:1000


#vni_ranges =

#vxlan_group = <None>
[ovn]


#ovn_nb_connection = tcp:127.0.0.1:6641

#ovn_nb_private_key =

#ovn_nb_certificate =

#ovn_nb_ca_cert =

#ovn_sb_connection = tcp:127.0.0.1:6642

#ovn_sb_private_key =

#ovn_sb_certificate =

#ovn_sb_ca_cert =

#ovsdb_connection_timeout = 180

#ovsdb_retry_max_interval = 180

#ovsdb_probe_interval = 60000

#neutron_sync_mode = log

#ovn_l3_scheduler = leastloaded

#enable_distributed_floating_ip = false

#vhost_sock_dir = /var/run/openvswitch

#dhcp_default_lease_time = 43200

#ovsdb_log_level = INFO

#ovn_metadata_enabled = false

#dns_servers =

#ovn_dhcp4_global_options =

#ovn_dhcp6_global_options =

#ovn_emit_need_to_frag = false

#disable_ovn_dhcp_for_baremetal_ports = false

#allow_stateless_action_supported = true

#localnet_learn_fdb = false

#fdb_age_threshold = 0

#mac_binding_age_threshold = 0
[ovn_nb_global]


#ignore_lsp_down = false

#fdb_removal_limit = 0

#mac_binding_removal_limit = 0
[ovs]


#ovsdb_timeout = 10

#bridge_mac_table_size = 50000

#igmp_snooping_enable = false

#igmp_flood = false

#igmp_flood_reports = true

#igmp_flood_unregistered = false
[ovs_driver]


#vnic_type_prohibit_list =
[securitygroup]
enable_ipset = true

#

#firewall_driver = <None>

#enable_security_group = true

#enable_ipset = true

#permitted_ethertypes =
[sriov_driver]


#vnic_type_prohibit_list =
