[DEFAULT]
transport_url = rabbit://{{ rabbitmq_username }}:{{ rabbitmq_password }}@{{ rabbitmq_address }}
core_plugin = ml2
service_plugins = router
#

#state_path = /var/lib/neutron

#bind_host = 0.0.0.0

#bind_port = 9696

#api_extensions_path =

#auth_strategy = keystone

#core_plugin = <None>

#service_plugins =

#base_mac = fa:16:3e:00:00:00

#allow_bulk = true

#pagination_max_limit = -1

#default_availability_zones =

#max_dns_nameservers = 5

#max_subnet_host_routes = 20

#ipv6_pd_enabled = false

#dhcp_lease_duration = 86400

#dns_domain = openstacklocal

#external_dns_driver = <None>

#dhcp_agent_notification = true

#
#host = example.domain

#network_link_prefix = <None>

#notify_nova_on_port_status_changes = true

#notify_nova_on_port_data_changes = true

#send_events_interval = 2

#setproctitle = on

#ipam_driver = internal

#vlan_transparent = false

#filter_validation = true

#global_physnet_mtu = 1500

#http_retries = 3

#enable_traditional_dhcp = true

#my_ip = 10.133.171.91

#my_ipv6 = ::1

#enable_signals = true

#backlog = 4096

#retry_until_window = 30

#use_ssl = false

#periodic_interval = 40

#api_workers = <None>

#rpc_workers = <None>

#rpc_state_report_workers = 1

#periodic_fuzzy_delay = 5

#rpc_response_max_timeout = 600


#interface_driver = <None>

#metadata_proxy_socket = $state_path/metadata_proxy

#metadata_proxy_user =

#metadata_proxy_group =


#agent_down_time = 75

#dhcp_load_type = networks

#enable_new_agents = true

#rpc_resources_processing_step = 20

#max_routes = 30

#enable_snat_by_default = true

#network_scheduler_driver = neutron.scheduler.dhcp_agent_scheduler.WeightScheduler

#network_auto_schedule = true

#allow_automatic_dhcp_failover = true

#dhcp_agents_per_network = 1

#enable_services_on_agents_with_admin_state_down = false

#dvr_base_mac = fa:16:3f:00:00:00

#router_distributed = false

#enable_dvr = true

#host_dvr_for_dhcp = true

#router_scheduler_driver = neutron.scheduler.l3_agent_scheduler.LeastRoutersScheduler

#router_auto_schedule = true

#allow_automatic_l3agent_failover = false

#l3_ha = false

#max_l3_agents_per_router = 3

#l3_ha_net_cidr = 169.254.192.0/18

#l3_ha_network_type =

#l3_ha_network_physical_name =

#enable_default_route_ecmp = false

#enable_default_route_bfd = false


#max_allowed_address_pair = 10

#
#allowed_conntrack_helpers = tftp:udp,ftp:tcp,sip:tcp,sip:udp


#debug = false

#log_config_append = <None>

#log_date_format = %Y-%m-%d %H:%M:%S

#log_file = <None>

#log_dir = <None>

#watch_log_file = false

#use_syslog = false

#use_journal = false

#syslog_log_facility = LOG_USER

#use_json = false

#use_stderr = false

#use_eventlog = false

#log_rotate_interval = 1

#log_rotate_interval_type = days

#max_logfile_count = 30

#max_logfile_size_mb = 200

#log_rotation_type = none

#logging_context_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(global_request_id)s %(request_id)s %(user_identity)s] %(instance)s%(message)s

#logging_default_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(instance)s%(message)s

#logging_debug_format_suffix = %(funcName)s %(pathname)s:%(lineno)d

#logging_exception_prefix = %(asctime)s.%(msecs)03d %(process)d ERROR %(name)s %(instance)s

#logging_user_identity_format = %(user)s %(project)s %(domain)s %(system_scope)s %(user_domain)s %(project_domain)s

#default_log_levels = amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,oslo_messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN,websocket=WARN,requests.packages.urllib3.util.retry=WARN,urllib3.util.retry=WARN,keystonemiddleware=WARN,routes.middleware=WARN,stevedore=WARN,taskflow=WARN,keystoneauth=WARN,oslo.cache=INFO,oslo_policy=INFO,dogpile.core.dogpile=INFO

#publish_errors = false

#instance_format = "[instance: %(uuid)s] "

#instance_uuid_format = "[instance: %(uuid)s] "

#rate_limit_interval = 0

#rate_limit_burst = 0

#rate_limit_except_level = CRITICAL

#fatal_deprecations = false


#rpc_conn_pool_size = 30

#conn_pool_min_size = 2

#conn_pool_ttl = 1200

#executor_thread_pool_size = 64

#rpc_response_timeout = 60

#transport_url = rabbit://

#control_exchange = openstack

#rpc_ping_enabled = false


#run_external_periodic_tasks = true


#backdoor_port = <None>

#backdoor_socket = <None>

#log_options = true

#graceful_shutdown_timeout = 60


#api_paste_config = api-paste.ini

#wsgi_log_format = %(client_ip)s "%(request_line)s" status: %(status_code)s  len: %(body_length)s time: %(wall_seconds).7f

#tcp_keepidle = 600

#wsgi_default_pool_size = 100

#max_header_line = 16384

#wsgi_keep_alive = true

#client_socket_timeout = 900

#wsgi_server_debug = false
[agent]
root_helper = "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"


#root_helper = sudo

#use_helper_for_ns_read = true

#root_helper_daemon = <None>

#report_interval = 30

#log_agent_heartbeats = false

#comment_iptables_rules = true

#debug_iptables_rules = false

#use_random_fully = true

#check_child_processes_action = respawn

#check_child_processes_interval = 60

#kill_scripts_path = /etc/neutron/kill_scripts/

#availability_zone = nova
[cache]


#config_prefix = cache.oslo

#expiration_time = 600

#backend = dogpile.cache.null

#backend_argument =

#proxies =

#enabled = false

#debug_cache_backend = false

#memcache_servers = localhost:11211

#memcache_dead_retry = 300

#memcache_socket_timeout = 1.0

#memcache_pool_maxsize = 10

#memcache_pool_unused_timeout = 60

#memcache_pool_connection_get_timeout = 10

#memcache_pool_flush_on_reconnect = false

#memcache_sasl_enabled = false

#memcache_username = <None>

#memcache_password = <None>

#redis_server = localhost:6379

#redis_username = <None>

#redis_password = <None>

#redis_sentinels = localhost:26379

#redis_socket_timeout = 1.0

#redis_sentinel_service_name = mymaster

#tls_enabled = false

#tls_cafile = <None>

#tls_certfile = <None>

#tls_keyfile = <None>

#tls_allowed_ciphers = <None>

#enable_socket_keepalive = false

#socket_keepalive_idle = 1

#socket_keepalive_interval = 1

#socket_keepalive_count = 1

#enable_retry_client = false

#retry_attempts = 2

#retry_delay = 0

#hashclient_retry_attempts = 2

#hashclient_retry_delay = 1

#dead_timeout = 60

#enforce_fips_mode = false
[cors]


#allowed_origin = <None>

#allow_credentials = true

#expose_headers = X-Auth-Token,X-Subject-Token,X-Service-Token,X-OpenStack-Request-ID,OpenStack-Volume-microversion

#max_age = 3600

#allow_methods = GET,PUT,POST,DELETE,PATCH

#allow_headers = X-Auth-Token,X-Identity-Status,X-Roles,X-Service-Catalog,X-User-Id,X-Tenant-Id,X-OpenStack-Request-ID
[database]
#connection = mysql+pymysql://{{ neutron_user_db_user }}:{{ neutron_user_db_password }}@{{ neutron_db_address }}/neutron


#engine =


#sqlite_synchronous = true

#backend = sqlalchemy
#slave_connection = <None>

#mysql_sql_mode = TRADITIONAL

#mysql_wsrep_sync_wait = <None>

#connection_recycle_time = 3600

#max_pool_size = 5

#max_retries = 10

#retry_interval = 10

#max_overflow = 50

#connection_debug = 0

#connection_trace = false

#pool_timeout = <None>

#use_db_reconnect = false

#db_retry_interval = 1

#db_inc_retry_interval = true

#db_max_retry_interval = 10

#db_max_retries = 20

#connection_parameters =
[designate]


#auth_url = <None>

#auth_type = <None>

#cafile = <None>

#certfile = <None>

#collect_timing = false

#default_domain_id = <None>

#default_domain_name = <None>

#domain_id = <None>

#domain_name = <None>

#insecure = false

#keyfile = <None>

#password = <None>

#project_domain_id = <None>

#project_domain_name = <None>

#project_id = <None>

#project_name = <None>

#split_loggers = false

#system_scope = <None>

#tenant_id = <None>

#tenant_name = <None>

#timeout = <None>

#trust_id = <None>

#user_domain_id = <None>

#user_domain_name = <None>

#user_id = <None>

#username = <None>


#url = <None>

#allow_reverse_dns_lookup = true

#ipv4_ptr_zone_prefix_size = 24

#ipv6_ptr_zone_prefix_size = 120

#ptr_zone_email =
[experimental]


#linuxbridge = false

#ipv6_pd_enabled = false
[healthcheck]


#path = /healthcheck

#detailed = false

#backends =

#allowed_source_ranges =

#ignore_proxied_requests = false

#disable_by_file_path = <None>

#disable_by_file_paths =
[ironic]


#auth_url = <None>

#auth_type = <None>

#cafile = <None>

#certfile = <None>

#collect_timing = false

#default_domain_id = <None>

#default_domain_name = <None>

#domain_id = <None>

#domain_name = <None>

#insecure = false

#keyfile = <None>

#password = <None>

#project_domain_id = <None>

#project_domain_name = <None>

#project_id = <None>

#project_name = <None>

#split_loggers = false

#system_scope = <None>

#tenant_id = <None>

#tenant_name = <None>

#timeout = <None>

#trust_id = <None>

#user_domain_id = <None>

#user_domain_name = <None>

#user_id = <None>

#username = <None>


#enable_notifications = false
[keystone_authtoken]
auth_url = http://{{ keystone_address }}:5000
memcached_servers = {  memcached_adddress }:11211
auth_type = password
project_domain_name = {{ openstack_domain }}
user_domain_name = {{ openstack_domain }}
project_name = {{ openstack_project }}
username = {{  neutron_keystone_user }}
password = {{ neutron_keystone_password }}
www_authenticate_uri = http://{{ keystone_address }}:5000
#www_authenticate_uri = <None>

#auth_uri = <None>

#auth_version = <None>

#interface = internal

#delay_auth_decision = false

#http_connect_timeout = <None>

#http_request_max_retries = 3

#cache = <None>

#certfile = <None>

#keyfile = <None>

#cafile = <None>

#insecure = false

#region_name = <None>

#memcached_servers = <None>

#token_cache_time = 300

#memcache_security_strategy = None

#memcache_secret_key = <None>

#memcache_pool_dead_retry = 300

#memcache_pool_maxsize = 10

#memcache_pool_socket_timeout = 3

#memcache_pool_unused_timeout = 60

#memcache_pool_conn_get_timeout = 10

#memcache_use_advanced_pool = true

#include_service_catalog = true

#enforce_token_bind = permissive

#service_token_roles = service

#service_token_roles_required = false

#service_type = <None>

#auth_type = <None>

#auth_section = <None>
[nova]
region_name = RegionOne
project_domain_name = {{ openstack_domain }}
project_name = {{ openstack_services }}
auth_type = password
user_domain_name = {{ openstack_domain }}
auth_url = http://{{ keystone_address }}:5000/v3
username = {{ nova_controller_user }}
password = {{ nova_controller_password }}

#region_name = <None>

#endpoint_type = public


#auth_url = <None>

#auth_type = <None>

#cafile = <None>

#certfile = <None>

#collect_timing = false

#default_domain_id = <None>

#default_domain_name = <None>

#domain_id = <None>

#domain_name = <None>

#insecure = false

#keyfile = <None>

#password = <None>

#project_domain_id = <None>

#project_domain_name = <None>

#project_id = <None>

#project_name = <None>

#split_loggers = false

#system_scope = <None>

#tenant_id = <None>

#tenant_name = <None>

#timeout = <None>

#trust_id = <None>

#user_domain_id = <None>

#user_domain_name = <None>

#user_id = <None>

#username = <None>
[oslo_concurrency]
lock_path = /var/lib/neutron/tmp


#disable_process_locking = false

#lock_path = <None>
[oslo_messaging_amqp]


#container_name = <None>

#idle_timeout = 0

#trace = false

#ssl = false

#ssl_ca_file =

#ssl_cert_file =

#ssl_key_file =

#ssl_key_password = <None>

#ssl_verify_vhost = false

#sasl_mechanisms =

#sasl_config_dir =

#sasl_config_name =

#sasl_default_realm =

#connection_retry_interval = 1

#connection_retry_backoff = 2

#connection_retry_interval_max = 30

#link_retry_delay = 10

#default_reply_retry = 0

#default_reply_timeout = 30

#default_send_timeout = 30

#default_notify_timeout = 30

#default_sender_link_timeout = 600

#addressing_mode = dynamic

#pseudo_vhost = true

#server_request_prefix = exclusive

#broadcast_prefix = broadcast

#group_request_prefix = unicast

#rpc_address_prefix = openstack.org/om/rpc

#notify_address_prefix = openstack.org/om/notify

#multicast_address = multicast

#unicast_address = unicast

#anycast_address = anycast

#default_notification_exchange = <None>

#default_rpc_exchange = <None>

#reply_link_credit = 200

#rpc_server_credit = 100

#notify_server_credit = 100

#pre_settled = rpc-cast
#pre_settled = rpc-reply
[oslo_messaging_kafka]


#kafka_max_fetch_bytes = 1048576

#kafka_consumer_timeout = 1.0

#pool_size = 10

#conn_pool_min_size = 2

#conn_pool_ttl = 1200

#consumer_group = oslo_messaging_consumer

#producer_batch_timeout = 0.0

#producer_batch_size = 16384

#compression_codec = none

#enable_auto_commit = false

#max_poll_records = 500

#security_protocol = PLAINTEXT

#sasl_mechanism = PLAIN

#ssl_cafile =

#ssl_client_cert_file =

#ssl_client_key_file =

#ssl_client_key_password =
[oslo_messaging_notifications]


#driver =

#transport_url = <None>

#topics = notifications

#retry = -1
[oslo_messaging_rabbit]


#amqp_durable_queues = false

#amqp_auto_delete = false

#ssl = false

#ssl_version =

#ssl_key_file =

#ssl_cert_file =

#ssl_ca_file =

#ssl_enforce_fips_mode = false

#heartbeat_in_pthread = false

#kombu_reconnect_delay = 1.0

#kombu_compression = <None>

#kombu_missing_consumer_retry_timeout = 60

#kombu_failover_strategy = round-robin

#rabbit_login_method = AMQPLAIN

#rabbit_retry_interval = 1

#rabbit_retry_backoff = 2

#rabbit_interval_max = 30

#rabbit_ha_queues = false

#rabbit_quorum_queue = false

#rabbit_quorum_delivery_limit = 0

#rabbit_quorum_max_memory_length = 0

#rabbit_quorum_max_memory_bytes = 0

#rabbit_transient_queues_ttl = 1800

#rabbit_qos_prefetch_count = 0

#heartbeat_timeout_threshold = 60

#heartbeat_rate = 3

#direct_mandatory_flag = true

#enable_cancel_on_failover = false
[oslo_middleware]


#enable_proxy_headers_parsing = false
[oslo_policy]


#enforce_scope = true

#enforce_new_defaults = true

#policy_file = policy.yaml

#policy_default_rule = default

#policy_dirs = policy.d

#remote_content_type = application/x-www-form-urlencoded

#remote_ssl_verify_server_crt = false

#remote_ssl_ca_crt_file = <None>

#remote_ssl_client_crt_file = <None>

#remote_ssl_client_key_file = <None>
[oslo_reports]


#log_dir = <None>

#file_event_handler = <None>

#file_event_handler_interval = 1
[oslo_versionedobjects]


#fatal_exception_format_errors = false
[placement]

#endpoint_type = public

#cafile = <None>

#certfile = <None>

#collect_timing = false

#default_domain_id = <None>

#default_domain_name = <None>

#domain_id = <None>

#domain_name = <None>

#insecure = false

#keyfile = <None>
#project_domain_id = <None>
#project_id = <None>
#split_loggers = false

#system_scope = <None>

#tenant_id = <None>

#tenant_name = <None>

#timeout = <None>

#trust_id = <None>

#user_domain_id = <None>
#user_id = <None>
[privsep]


#user = <None>

#group = <None>

#capabilities =

#
#thread_pool_size = multiprocessing.cpu_count()

#helper_command = <None>

#logger_name = oslo_privsep.daemon
[profiler]


#enabled = false

#trace_sqlalchemy = false

#hmac_keys = SECRET_KEY

#connection_string = messaging://

#
#es_doc_type = notification

#
#es_scroll_time = 2m

#
#es_scroll_size = 10000

#
#socket_timeout = 0.1

#
#sentinel_service_name = mymaster

#filter_error_trace = false
[quotas]


#default_quota = -1

#quota_network = 100

#quota_subnet = 100

#quota_port = 500

#quota_driver = neutron.db.quota.driver_nolock.DbQuotaNoLockDriver

#track_quota_usage = true


#quota_router = 10

#quota_floatingip = 50

#quota_security_group = 10

#quota_security_group_rule = 100
[ssl]


#ca_file = <None>

#cert_file = <None>

#key_file = <None>

#version = <None>

#ciphers = <None>

