[defaults]
inventory = ./inventory
host_key_checking = False
display_skipped_hosts = no
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
# Disable PTY globally (prevents hangs)
pty = False
pipelining = True
