
- name: ----- install kvm -----
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - qemu-kvm
    - libvirt-daemon-system 
    - libvirt-clients 
    - bridge-utils 
    - virt-manager 
  tags: [ kvm ]
  when: 
    - kvm == "enabled"