- name: ----- install pre-requisite  controll plane -----
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - keystone
    - python3-openstackclient
    - apache2 
    - nova-compute
    - glance
    - cinder-volume
  tags: [ installation ]
  when: 
    - keystone == "enabled"
    - novacompute == "enabled"


- name: ----- install pre-requisite compute node -----
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - nova-compute
  tags: [ installation ]
  when: 
    - novacompute == "enabled"


- name:  -----Configure Keystone db connection -----
  lineinfile:
    path: /etc/keystone/keystone.conf
    regexp: '^connection\s*='
    line: "connection = mysql+pymysql://{{ keystone_db_user }}:{{ keystone_db_password }}@{{ keystone_db_address }}/keystone"
    state: present
  notify: keystone_restart
  when: keystone == "enabled"


- name:  -----Configure Keystone token fernet -----
  lineinfile:
    path: /etc/keystone/keystone.conf
    regexp: '^#?\s*provider\s*=\s*fernet'
    line: 'provider = fernet'    
    state: present
    insertafter: '^\[token\]'
  notify: keystone_restart
  when: keystone == "enabled"



- name: Check if Keystone has ever been initialized
  stat:
    path: /etc/keystone/.ansible_db_synced
  register: keystone_init_state
  when: 
    - keystone == "enabled"
  ignore_errors: yes



- name: -----run db_sync command------
  shell: keystone-manage db_sync
  async: 300
  run_once: true
  when: 
    - not keystone_init_state.stat.exists
    - keystone == "enabled"
  #  - keystone_init_state.stat is defined



- name: -----run fernet user Configure-----
  shell: keystone-manage fernet_setup --keystone-user keystone --keystone-group keystone
  run_once: true
  when: 
    - not keystone_init_state.stat.exists 
    - keystone == "enabled"



- name: ------run fernet credential configure 
  shell: keystone-manage credential_setup --keystone-user keystone --keystone-group keystone
  args:
    creates: /etc/keystone/credential-keys/0
  run_once: true
  when: 
    - not keystone_init_state.stat.exists 
    - keystone == "enabled"



- name: Bootstrap Keystone
  shell: >
    keystone-manage bootstrap --bootstrap-password {{ keystone_admin_password }}
    --bootstrap-admin-url http://{{ controller_admin_address }}:5000/v3/
    --bootstrap-internal-url http://{{ controller_internal_address }}:5000/v3/
    --bootstrap-public-url http://{{ controller_public_address }}:5000/v3/
    --bootstrap-region-id RegionOne
  become: yes
  run_once: true
  args:
    creates: /etc/keystone/.ansible_bootstrapped
  when: 
    - keystone == "enabled"
    - not keystone_init_state.stat.exists


- name: ----check keystone functionality------
  shell: > 
    openstack --os-auth-url "{{ controller_os_auth_url }}"
    --os-project-name "{{ controller_os_project_name }}"
    --os-username "{{ controller_os_username }}"
    --os-password "{{ controller_os_password }}"
    --os-user-domain-name "{{ controller_os_user_domain_name }}"
    --os-project-domain-name Default domain list
  when: 
    - keystone == "enabled"
    - not keystone_init_state.stat.exists

- name: Create history marker (The State File)
  file:
    path: /etc/keystone/.ansible_db_synced
    state: touch
    owner: keystone
    group: keystone
    mode: '0644'
  become: yes
  when: 
    - not keystone_init_state.stat.exists 
    - keystone == "enabled"
  run_once: true


- name: check if "{{ controller_os_project_name }}" exist or not 
  shell: >
    openstack --os-auth-url "{{ controller_os_auth_url }}"
    --os-project-name "{{ controller_os_project_name }}"
    --os-username "{{ controller_os_username }}"
    --os-password "{{ controller_os_password }}"
    --os-user-domain-name "Default" 
    --os-project-domain-name "Default" 
    --os-identity-api-version 3 domain list | grep -i "openstack"
  register: controller_os_project_name_state
  when: 
    - keystone == "enabled"
#    - not keystone_init_state.stat.exists 

  ignore_errors: yes



- name: ----- create new domain ------
  shell: >
    openstack --os-auth-url "{{ controller_os_auth_url }}" 
    --os-project-name "{{ controller_os_project_name }}"
    --os-username "{{ controller_os_username }}" 
    --os-password "{{ controller_os_password }}" 
    --os-user-domain-name "Default"
    --os-project-domain-name "Default"
    --os-identity-api-version 3 domain create  --description "An Example Domain" "{{ controller_os_user_domain_name}}"
  when: 
    - keystone == "enabled"
    - controller_os_project_name_state.rc == 0
    - not keystone_init_state.stat.exists 


- name: ---add admin role to  "{{ controller_os_project_name }}" 
  shell: > 
    openstack --os-auth-url "{{ controller_os_auth_url }}" 
    --os-project-name "{{ controller_os_project_name }}"
    --os-username "{{ controller_os_username }}" 
    --os-password "{{ controller_os_password }}" 
    --os-user-domain-name "Default"
    --os-project-domain-name "Default"
    --os-identity-api-version 3     
    role add --domain  "{{ controller_os_project_name }}" 
    --user admin 
    --user-domain Default admin
  when: 
    - keystone == "enabled"
    - controller_os_project_name_state.rc == 0
    - not keystone_init_state.stat.exists 

# - name: -------- create new services in "{{ controller_os_user_domain_name}}" ---------
#   shell: >
#     openstack --os-auth-url "{{ controller_os_auth_url }}"
#     --os-project-name "{{ controller_os_project_name }}" 
#     --os-username "{{ controller_os_username }}"
#     --os-password "{{ controller_os_password }}" 
#     project create --domain openstack --description "Service Project" "{{ controller_os_user_domain_name}}-service"
#   when: 
#     - keystone == "enabled"



# - name: ------- create new project in "{{ controller_os_user_domain_name}}"
#   shell: >
#     openstack --os-auth-url "{{ controller_os_auth_url }}"
#     --os-project-name "{{ controller_os_project_name }}"
#     --os-username "{{ controller_os_username }}"
#     --os-password "{{ controller_os_password }}"
#     project create --domain "{{ controller_os_user_domain_name }}" --description "Demo Project" "{{ controller_os_user_domain_name }}-project"
#   when: 
#     - keystone == "enabled"
#   ignore_errors: yes

- name: Create the project for services in openstack domain
  shell: >
    openstack --os-auth-url "{{ controller_os_auth_url }}"
    --os-project-name "admin" --os-username "admin" --os-password "{{ controller_os_password }}"
    --os-user-domain-name "Default" --os-project-domain-name "Default"
    project create --domain openstack --description "Service Project for Domain Openstack" "{{ controller_os_user_domain_name }}" 
  register: create_proj
  when: 
    - keystone == "enabled"
    - controller_os_project_name_state.rc == 0
    - not keystone_init_state.stat.exists 
  tags: 
    - users

- name: ------- create new users in keystone -------
  shell: >
    openstack --os-auth-url "{{ controller_os_auth_url }}"
    --os-project-name "{{ controller_os_project_name }}"
    --os-username "{{ controller_os_username }}"
    --os-password "{{ controller_os_password }}"
    --os-user-domain-name "Default"
    --os-project-domain-name "Default"
    user create --domain "{{ controller_os_user_domain_name }}" 
    --project "{{ controller_os_user_domain_name }}" 
    --password "{{ controller_os_password }}" "{{ item }}"
  register: final_endpoints
  with_items:
    - glance
    - nova
    - neutron
    - cinder
  when: 
    - keystone == "enabled"
    - controller_os_project_name_state.rc == 0
    - not keystone_init_state.stat.exists 
  tags: 
    - users

- name: Add admin role to service users
  shell: >
      openstack --os-auth-url "{{ controller_os_auth_url }}"
      --os-project-name "admin" --os-username "admin" --os-password "{{ controller_os_password }}"
      --os-user-domain-name "Default" --os-project-domain-name "Default"
      role add --project "{{ controller_os_user_domain_name }}" 
      --user "{{ item.name }}" --user-domain "{{ controller_os_user_domain_name }}" admin
  with_items: "{{ openstack_services }}"
  register: role_add
  failed_when: "role_add.rc != 0 and 'already has' not in role_add.stderr"
  when:
    - keystone == "enabled"
    - controller_os_project_name_state.rc == 0
    - not keystone_init_state.stat.exists 
  tags: [ users ]


  